extends ../components/base/layout

block variables
  - const title = "Политика конфиденциальности SandwichBurger" //- на страницах кроме главной используйте О нас — ProjectName
  - const hasHeader = true
  - const hasFooter = true
  - const currentUrl = "confidential-policy.html"

block main
  main
    section.confidential-policy
      div.confidential-policy__container.container
        h1.visually-hidden Политика конфиденциальности
        div.confidential-policy__wrapper
          p Наша компания уважительно относится к&nbsp;правам клиента. Соблюдается строгая конфиденциальность при оформлении заявок на&nbsp;услуги и&nbsp;другие действия. Сведения надёжно сохраняются и&nbsp;защищены от&nbsp;передачи.
          p Согласием на&nbsp;обработку данных клиента исключительно с&nbsp;целью оказания услуг является размещение заявки на&nbsp;сайте.
          p К&nbsp;персональным данным относится личная информация о&nbsp;клиенте: домашний адрес; имя, фамилия, отчество; сведения о&nbsp;рождении; имущественное, семейное положение; личные контакты (телефон, электронная почта) и&nbsp;прочие сведения, которые перечислены в&nbsp;Законе РФ &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; от&nbsp;27&nbsp;июля 2006&nbsp;г.
          p Клиент вправе отказаться от&nbsp;обработки персональных данных. Нами в&nbsp;данном случае гарантируется удаление всех персональных данных в&nbsp;трёхдневный срок в&nbsp;рабочее время. Подобный отказ клиент может оформить простым электронным письмом на&nbsp;адрес sandwich@burger.ru
