extends ../components/base/layout

include ../components/blocks/index-main

block variables
  - const title = "SandwichBurger" //- на страницах кроме главной используйте О нас — ProjectName
  - const hasHeader = true
  - const hasFooter = true
  - const currentUrl = "index.html"

block main
  main
    +index-main()
    div
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quibusdam ex numquam hic voluptatem quidem quisquam iure! Maiores illum quasi ullam sint tenetur commodi. Necessitatibus velit inventore tempora nemo quae.
