extends ../components/base/layout

include ../components/blocks/index-main
include ../components/blocks/promo

block variables
  - const title = "SandwichBurger" //- на страницах кроме главной используйте О нас — ProjectName
  - const hasHeader = true
  - const hasFooter = true
  - const currentUrl = "index.html"

block main
  main
    +index-main()
    +promo()
