extends ../components/base/layout

block variables
  - const title = "SandwichBurger" //- на страницах кроме главной используйте О нас — ProjectName
  - const hasHeader = true
  - const hasFooter = true
  - const currentUrl = "index.html"

block main
  main
    p Контент
    p Наша компания уважительно относится к правам клиента. Соблюдается строгая конфиденциальность при оформлении заявок на услуги и другие действия. Сведения надёжно сохраняются и защищены от передачи.
        p Согласием на обработку данных клиента исключительно с целью оказания услуг является размещение заявки на сайте.
        p К персональным данным относится личная информация о клиенте: домашний адрес; имя, фамилия, отчество; сведения о рождении; имущественное, семейное положение; личные контакты (телефон, электронная почта) и прочие сведения, которые перечислены в Законе РФ № 152-ФЗ «О персональных данных» от 27 июля 2006 г.
        p Клиент вправе отказаться от обработки персональных данных. Нами в данном случае гарантируется удаление с сайта всех персональных данных в трёхдневный срок в рабочее время. Подобный отказ клиент может оформить простым электронным письмом на адрес 3sale@premium-komplekt.ru.
