mixin index-main()
  section.index-main
    div.index-main__video-wrapper
      video.index-main__video(autoplay='', loop='', controls='')
        source(src='./video/main-block-index-video-background.mp4', type='video/mp4')
    div.container.index-main__container
      div.index-main__wrapper
        h1.index-main__title Сэндвич-панели
        span.index-main__slogan Для быстровозводимых зданий
        p.index-main__text Панели премиального качества на&nbsp;полностью автоматизированной линии сроком от&nbsp;3&nbsp;дней, самые лучшие условия среди конкурентов и&nbsp;круглосуточная поддержка на&nbsp;протяжении всего цикла сделки!
        div.index-main__buttons-wrapper
          button.index-main__button-connect(type="button") Связаться с нами
          button.index-main__button-excursion(type="button") Записаться на экскурсию
