mixin promo()
  section.promo
    div.promo__container.container
      div.promo__wrapper
        h2.visually-hidden Промо-блок.
        div.promo__big-block
          div.promo__big-block-wrapper
            h3.promo__big-block-title Внимание!
            p.promo__big-block-text Забронируйте панели сейчас без дальнейшего изменения цен и&nbsp;условий
            button.promo__big-block-button(type="button") Забронировать сейчас
        div.promo__small-block.promo__small-block--first
          div.promo__small-block-wrapper
            h3.promo__small-block-title Бесплатная перераскладка
            p.promo__small-block-text C&nbsp;возможностью уменьшения стоимости проектов
        div.promo__small-block.promo__small-block--second
          div.promo__small-block-wrapper
            h3.promo__small-block-title Узкие сэндвич-панели шириной 600&nbsp;мм
            p.promo__small-block-text Для оптимизации и&nbsp;удешевления стоимости проектов
