.prices {
  margin-bottom: 70px;
}

.prices__container {
}

.prices__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

.prices__wrapper {
}

.prices__list {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.prices__cards {
}

.prices__link {
  color: $color-default-black;
}

.prices__card-image-wrapper {
  margin-bottom: 20px;

  object-fit: cover;
}

.prices__card-image {

}

.prices__card-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
}

.prices__card-price {
  display: block;

  margin-bottom: 20px;

  font-weight: 700;
}

.prices__card-text {
  margin: 0;
  margin-bottom: 20px;
}

.prices__button {
  display: inline-block;
  margin: 0;
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  background-color: $color-theme-accent;

  font-size: 16px;
  font-weight: 700;
  color: $color-default-white;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}
