mixin footer(currentUrl)
  footer.footer
    div.footer__container.container
      div.footer__top
        div.footer__logo
          if(currentUrl === "index.html")
            img(src="img/logo/logo_text.png" width="300" alt="Логотип в подвале сайта")
          else
            a.footer__logo-link(href="index.html", aria-label="Переход на главную")
              img(src="img/logo/logo_text.png" width="300" alt="Логотип в подвале сайта")
        div.footer__top-wrapper
          div.footer__contacts
            h2.visually-hidden Контакты
            div.footer__contacts-wrapper
              div.footer__contacts-first
                div.footer__link-container
                  h3.visually-hidden Телефон
                  a.footer__phone-link(href="tel:+78005555555") 8 800 555 55 55
                div.footer__link-container
                  h3.visually-hidden Email
                  a.footer__email-link(href="mailto:sandwich@burger.ru") sandwich@burger.ru
              div.footer__contacts-second
                div.footer__link-container
                  h3.visually-hidden Адрес
                  p.footer__address
                    |г. Самара, Московское шоссе,
                    |<br>
                    |д. 4, кор. 4, 4 этаж, оф. 421
                    |<br>
                    |БЦ "Monte Rosa"
          button.footer__order-button(type="button") Заказать расчёт
    div.footer__container.container.footer__bottom
      a.footer__privacy-policy(href="#", aria-label="Политика конфиденциальности")
        span Политика конфиденциальности
      div.footer__copyright
        h3.visually-hidden Копирайт
        div.footer__copyright-text
          |&copy;&nbsp;Все права зарегистрированы. ООО &laquo;SandwichBurger&raquo;, ТОО &laquo;SandwichBurger&raquo;. 2023.
          |<br>
          |Любое использование либо копирование материалов или подборки материалов сайта, элементов дизайна и&nbsp;оформления допускается лишь с&nbsp;разрешения правообладателя и&nbsp;только со&nbsp;ссылкой на&nbsp;источник: SandwichBurger.com

