$ff-default: "PTSans", "Arial", sans-serif;
$fz-default: 18px;
$fw-default: 400;


$color-default-black: #000000;
$color-default-white: #ffffff;
// $color-theme-dark: #14213d;
// $color-theme-accent: #fca311;
// $color-theme-light: #e5e5e5;
$color-theme-dark: #110909;
$color-theme-grey: #212121;
$color-theme-accent: #db1634;
$color-theme-light: #e5e5e5;


$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1350:                           1350px;
$vp-1440:                           1440px;
$vp-1550:                           1550px;
$vp-1920:                           1920px;
